* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    background-color: #f2f3ff;
    color: #002a7c;
    width: 100%;
    height: 100%;
}

p {
    font-size: 20px;
}

a {
    font-size: 16px;
    color: #d9e1ff;
    text-decoration: none;
    transition: font-size 0.5s;
    padding: 5px 0;
}

a:hover {
    font-size: 18px
}

span {
    font-size: 13px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    /* align-items: center; */

}

.card {
    background-color: #b5c7ff77;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 8px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: .1em .2em 1em #618dff;
}

.bgImg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: fill;
    filter:blur(10px);
}


@media screen and (max-width: 400px) {
    p {
        font-size: 18px;
    }

    a {
        font-size: 13px;
        transition: font-size 0.5s;
    }

    a:hover {
        font-size: 15px
    }

    .box {
        grid-template-columns: 1fr;
    }

    .card {
        margin: 10px 20px;
    }
}

@media(min-width: 960px) {
    .card {
        margin: 10px 20px;
    }
}